/* Colors */
$blue: #0651C1;
$blueLight: #B2C8FF;
$dcBlue: #0078F0;
$grey: #4D4D4D;
$greyDark: #2B2828;
$greyLight: #C4C4C4;
$marine: #056369;
$marineLight: #66BFBF;
$orange: #FF8B20;
$orangeLight: #FABF89;
$red: #690505;
$redLight: #A42F2F;
$white: #fff;
$yellow: #FFC806;
$yellowLight: #FAE189;