@import './_fonts.scss';
@import './_variables.scss';
@import './_reset.scss';

/* Splide */
.splide__arrows {
  position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    max-width: 566px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.splide__arrow {
  width: 3em;
  height: 3em;
  box-shadow: 2px 4px 6px rgba(0,0,0,.6);
}

.splide__arrow svg {
  width: 1em;
  height: 1em;
}
.splide__pagination li {
  visibility: hidden;
}